DATABASE_URL=postgresql://postgres:oJzSEEualxIZjQbxiRKwYhpTurIRFqDj@postgres.railway.internal:5432/railway
SECRET_KEY=change-this-to-a-long-random-string
ACCESS_TOKEN_EXPIRE_MINUTES=60
CORS_ORIGINS=http://localhost:5173,https://your-netlify-site.netlify.app
TOMTOM_API_KEY=fu7pxv1akLSodE8K53xEsMMx7aPKLmOl
